Web/Service References/PPOK_System_Service/PPOK_Refill_System_Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="PPOK_Refill_System_Service" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8733/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8733/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IPPOK_Refill_System_Service_DoWork_InputMessage">
    <wsdl:part name="parameters" element="tns:DoWork" />
  </wsdl:message>
  <wsdl:message name="IPPOK_Refill_System_Service_DoWork_OutputMessage">
    <wsdl:part name="parameters" element="tns:DoWorkResponse" />
  </wsdl:message>
  <wsdl:message name="IPPOK_Refill_System_Service_submitUserConfirmation_InputMessage">
    <wsdl:part name="parameters" element="tns:submitUserConfirmation" />
  </wsdl:message>
  <wsdl:message name="IPPOK_Refill_System_Service_submitUserConfirmation_OutputMessage">
    <wsdl:part name="parameters" element="tns:submitUserConfirmationResponse" />
  </wsdl:message>
  <wsdl:message name="IPPOK_Refill_System_Service_unSubscribe_InputMessage">
    <wsdl:part name="parameters" element="tns:unSubscribe" />
  </wsdl:message>
  <wsdl:message name="IPPOK_Refill_System_Service_unSubscribe_OutputMessage">
    <wsdl:part name="parameters" element="tns:unSubscribeResponse" />
  </wsdl:message>
  <wsdl:portType name="IPPOK_Refill_System_Service">
    <wsdl:operation name="DoWork">
      <wsdl:input wsaw:Action="http://tempuri.org/IPPOK_Refill_System_Service/DoWork" message="tns:IPPOK_Refill_System_Service_DoWork_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPPOK_Refill_System_Service/DoWorkResponse" message="tns:IPPOK_Refill_System_Service_DoWork_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="submitUserConfirmation">
      <wsdl:input wsaw:Action="http://tempuri.org/IPPOK_Refill_System_Service/submitUserConfirmation" message="tns:IPPOK_Refill_System_Service_submitUserConfirmation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPPOK_Refill_System_Service/submitUserConfirmationResponse" message="tns:IPPOK_Refill_System_Service_submitUserConfirmation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="unSubscribe">
      <wsdl:input wsaw:Action="http://tempuri.org/IPPOK_Refill_System_Service/unSubscribe" message="tns:IPPOK_Refill_System_Service_unSubscribe_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPPOK_Refill_System_Service/unSubscribeResponse" message="tns:IPPOK_Refill_System_Service_unSubscribe_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IPPOK_Refill_System_Service" type="tns:IPPOK_Refill_System_Service">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DoWork">
      <soap:operation soapAction="http://tempuri.org/IPPOK_Refill_System_Service/DoWork" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="submitUserConfirmation">
      <soap:operation soapAction="http://tempuri.org/IPPOK_Refill_System_Service/submitUserConfirmation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="unSubscribe">
      <soap:operation soapAction="http://tempuri.org/IPPOK_Refill_System_Service/unSubscribe" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PPOK_Refill_System_Service">
    <wsdl:port name="BasicHttpBinding_IPPOK_Refill_System_Service" binding="tns:BasicHttpBinding_IPPOK_Refill_System_Service">
      <soap:address location="http://localhost:8733/PPOK_Refill_System_Service" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>